<div class="col-lg-3 card">
  <div class="card-block">
    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputRelationship">Relationship</label>
      <input type="relationship" class="form-control" id="exampleInputRelationship" placeholder="Enter relationship">
    </div>
    <div class="row">
      <div class="col-lg-6">
        <button type="button" class="btn btn-raised btn-primary btn-top-down">Top</button>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn btn-raised btn-primary btn-top-down">Down</button>
      </div>
    </div>

  </div>

</div>
