<div class="col-lg-3 card">
  <div class="card-block">
    <div class="form-group">
      <div class ="row">
      <div class="col-lg-12">
       <div class = "dummy-image">
        <img src="/assets/topdummy.jpg" width="300" align="center">
         <hr>
       </div>
      </div>
      </div>
      <label for="exampleSholduerSize">Shoulder-Size</label>
      <input type="Shoulder-Size" class="form-control" id="exampleSholduerSize" placeholder="Shoulder Size">
    </div>
    <div class="form-group">
      <label for="exampleBodySize">Body-Size</label>
      <input type="Body-Size" class="form-control" id="exampleBodySize" placeholder="Body Size">
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button type="button" class="btn btn-raised btn-primary create-dummy-btn" style="width: 100% ">Create Dummy</button>
      </div>

    </div>

  </div>

</div>

